body{
    font-family: 'Poppins', sans-serif;
}
.part1{
    display: flex;
    margin-bottom: 100px;
}
.step1{
    width: 80%;
    margin-top: 12%;
    margin-left: 7%;   
}
.step2{
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-right: 0%;
}
.skip{
    font-size: 45px;
    font-weight: 1000;
}
    
span{
    color: orange;
}
button{
    color: white;
    background-color: rgb(246, 83, 54);
    padding: 15px 30px;
    border-radius: 30px;
    border: 0cm;
}
p{
    color: gray;
    font-size: 14px;
}
.part2{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.step2-1{
    width: 60%;
    height: 77%;
    margin-left: 35%;
    margin-bottom: 0%;
    margin-top: 15%;
}
.step2-2{
    width: 50%;
    margin: 13%;

}
part3{

}
.writing{
    text-align: center;
    margin: 2% 25%;
}
.step3-2{
    display: flex;
    margin: 2% 10%;
    margin-bottom: 100px;
    
    
}
.box{
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    margin: 2%;
    padding: 40px;
    border-radius: 20px;
}
.coffee{
    width: 100%;
}
.part4{
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin: 10%;
    padding: 0% 15%;
    border-radius: 20px;
    background-color: bisque;
    border-top: 4px solid pink ;
    border-right:  4px solid pink ;;
}
.sm{
    margin: 10%;
}
h1{
    font-size: 30px;
    font-weight: 5000;
    color: lightslategray;
}
footer{
    background-color: rgb(9, 9, 36);
    text-align: center;
    padding: 10px;
}
